/* Dashboard.css */
/* 

.login
{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: lightgrey;
    border-radius: .3rem;
}

.login input
{
    background-color: white;
    border-color: darkgrey;
    border-radius: .4em;
    width: 100%;
} */

/* Dashboard.css */

.footer{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #d1f64e;

}

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  background-color: #e4f799;
  color: black;
  padding: 10px;
  max-width: 100%;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;


}

.nav-links li {
  margin-right: 20px;
  color: black;
}

.nav-links li a {
  text-decoration: none;
  color: black;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.button1{
  background-color: transparent;
  color: black;
  border: 0;
  font-size: 15;
}

.nav-right {
  margin-left: auto;
}

.header{
  background-color: #d1f64e;
}